body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  color: #222;
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  line-height: 1.7;
}

header {
  margin-bottom: 60px;
}

h1 {
  font-size: 56px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
}

section {
  margin-bottom: 80px;
}

img {
  width: 100%;
  border-radius: 16px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  padding: 14px 22px;
  background: black;
  color: white;
  border-radius: 12px;
  text-decoration: none;
}